<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <style>
    body{
      background-color: #7ec6e7; padding-top: 100px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="/public/assets/img/404.png" alt="">
      </div>
    </div>
  </div>
</body>
</html>